{% extends "base.html" %}
{% load threadedcomments_tags %}
{% load comments %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock %}

{% block main %}
    <h1><a href="{{ pokal_url }}/{{ worksheet.worksheet_id }}">{{ worksheet.title }}</a></h1>
    <p><span class="author">Autor des Arbeitsblatts: {{ worksheet.owner }}.</span>
	<span class="datetime">Hinzugefügt am
        {{ worksheet.pub_date|date:"d.m.Y" }}
        um {{ worksheet.pub_date|date:"H:i" }} Uhr.</span>
    {% if user.username == worksheet.owner %}
    <a href="{% url 'manage_worksheets:delete' worksheet.worksheet_id %}">
    Arbeitsblatt aus POAK entfernen.</a>
    {% endif %}
    </p>
    <p><span>Tags:</span>
        {% for tag in worksheet.tags.all %}
            <span class="tag">{{ tag.name }}</span>
        {% endfor %}
    {% get_comment_count for worksheet as comment_count %}
    {% if comment_count != 0 %}
   <h2 class="comments-heading">Kommentare</h2>
   {% else %}
   <p>Noch keine Kommentare.</p>
   {% endif %}
   {% render_comment_list for worksheet %}
    {% if user.is_authenticated %}
   {% render_comment_form for worksheet %}
   {% else %}
    <p><a href="{% url 'manage_worksheets:loggedin_details' worksheet.worksheet_id %}">
      Anmelden</a> um zu kommentieren.</p>
    {% endif %}

    <p><a href="{% url 'manage_worksheets:main' %}">Zurück zur Startseite</a></p>

{% endblock %}
