{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'manage_worksheets/js/indexview.js' %}"></script>
{% endblock %}

{% block main %}
	<h2>Veröffentlichte Arbeitsblätter</h2>
    <div id="tags">
		<div class="col-md-3 col-lg-2">
			<h5>Nach Tags filtern:</h5>
		</div>
		<div class="col-md-9 col-lg-10">
			<label class="label label-default"><input id="tagall" type="checkbox" checked="checked" /> Alle</label>
			<ul class="list-unstyled list-inline">
			</ul>
		</div>
    </div>
    <div id="worksheets">
		<div class="col-md-3 col-lg-2">
			<h5>Ergebnisse:</h5>
		</div>
		<div class="col-md-9 col-lg-10">
			<ul class="list-unstyled">
			</ul>
		</div>
		<div class="col-sm-12">
			<a class="btn btn-default pull-right" href="{% url 'manage_worksheets:submit' %}">Neues Arbeitsblatt einreichen</a>
		</div>
    </div>
{% endblock %}
