{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'manage_worksheets/js/indexview.js' %}"></script>
{% endblock %}

{% block main %}
	<div class="col-xs-12">
		<div class="well well-sm text-center">
			<strong><abbr title="Physik Online Arbeitsblatt-Katalog">POAK</abbr></strong> ist unsere Plattform, um veröffentlichte POKAL-Arbeitsblätter leichter zugänglich und nach verschiedenen Schlagworten durchsuchbar zu machen.
		</div>
	</div>
	
	<div class="col-md-4 col-lg-3">
		<div id="tags" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Schlagwörter <small>(Filter)</small></h3>
			</div>
			<!--<div class="panel-body"></div>-->
			<ul class="list-group">
				<li class="list-group-item"><label><input id="tagall" type="checkbox" checked /> Alle</label></li>
			</ul>
		</div>
	</div>

	<div class="col-md-8 col-lg-9">
		<div id="worksheets" class="panel panel-default">
			<div class="panel-heading">
				<a class="btn btn-primary btn-sm pull-right" href="{% url 'manage_worksheets:submit' %}" style="margin-top: -6px">Neues Arbeitsblatt einreichen</a>
				<h3 class="panel-title">Passende Arbeitsblätter</h3>
			</div>
			<!--<div class="panel-body"></div>-->
			<ul class="list-group">
			</ul>
		</div>
	</div>
{% endblock %}
