{% extends "manage_worksheets/base.html" %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "manage_worksheets/js/main.js" %}"></script>
{% endblock %}

{% block main %}
    <h1>Physik Online Arbeitsblatt-Katalog</h1>
    <div id="tags">
        <h2>Tags</h2>
        <ul>
        </ul>
    </div>

    <div id="worksheets">
        <h2>Worksheets</h2>
        <ul>
        </ul>
    </div>
    <a href="{% url 'manage_worksheets:submit' %}">Neues Arbeitsblatt einreichen</a>
{% endblock %}
