{% extends "base.html" %}

{% block main %}
<div class="alert alert-success" role="alert">Das Arbeitsblatt mit dem Titel
    "{{ worksheet.title }}" (ID:{{ worksheet.worksheet_id }}) wurde erfolgreich veröffentlicht.</div>
<a class="btn btn-default"
    href="{% url 'manage_worksheets:details' worksheet.pk %}">
    Details zum Arbeitsblatt.</a>
<a class="btn btn-default"
    href="{% url 'manage_worksheets:choose_tags' worksheet.pk %}">
    Dem Arbeitsblatt Schlagworte hinzufügen.</a>
<a class="btn btn-default" href="{% url 'manage_worksheets:main' %}">Zu POAK</a>
{% endblock %}
