{% extends "base.html" %}

{% block main %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<p>Anmeldung mit HRZ-Account</p>

<form method="post" action="{% url 'users:my_login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<a href="{% url 'manage_worksheets:main' %}">Zur Startseite</a>
{% endblock %}
