#tags
	margin-bottom: 4px

#tags label
	margin-bottom: 0px
	margin-right: 4px

#tags ul li.list-group-item
	padding-top: 4px
	padding-bottom: 4px

#worksheets ul li.list-group-item
	padding-top: 5px
	padding-bottom: 8px

#worksheets li .label
	margin-right: 3px

#worksheetdetails h2
	margin-bottom: 5px

.ws_link
	font-size: 1.4em

#worksheetdetails ul.comment-list-wrapper
	padding: 4px
	border: 1px solid #ccc

#worksheetdetails li.comment-wrapper .comment-item > h4
	color: #888
	margin: 0 0 3px 0
	padding: 0 0 1px 0
	border-bottom: 1px solid #ccc

#worksheetdetails li.comment-wrapper .comment-item > h4 .comment-date
	color: #aaa
	font-size: 0.75em

#worksheetdetails li.comment-wrapper .comment-item > h4 .comment-reply-link
	font-size: 0.75em

#worksheetdetails li.comment-wrapper .comment-item > comment-text
	padding: 0 8px
	
#worksheetdetails .form-horizontal .form-group
	margin-left: 0
	margin-right: 0