.error
    color: red

.tag
    border: 1px solid black
    margin-left: 5px

.ws_link
    color: blue
    font-size: 150%
    text-decoration: none
    margin-right: 5px

.kom_link
    display: block

#worksheets ul li
    margin-bottom: 10px

div#main
    width: 1000px
    margin: 0 auto

h2.comments-heading
    font-size: 1.5em

ul.comment-list-wrapper
    border: 1px solid #999

div.comment-item>h4
    color: #999
