.error
    color: red

#tags label
	margin-bottom: 0px
	
#tags ul li.list-group-item
	padding-top: 4px
	padding-bottom: 4px

#worksheets ul li.list-group-item
	padding-top: 5px
	padding-bottom: 8px
	
#worksheets li .label
    margin-right: 3px

.ws_link
    font-size: 1.4em

h2.comments-heading
    font-size: 1.4em

ul.comment-list-wrapper
    border: 1px solid #999

div.comment-item>h4
    color: #999
